<div class="wrapper">
    <div class="calculate-container">
       <div class="content">
        <div class="header">
            <div class="image-container">
                <img src="/assets/calc.png" alt="">
            </div>
            <span class="header-title">
                Калькулятор доходности
            </span>
        </div>
        <div class="inner-container">
            <div class="deposite">
               <div class="input-container">
                <span class="input-title">Тип дипозита</span>
                <app-select 
                [options]="currencyItems"
                (onChanged)="setDepositeType($event)"
                ></app-select>
               </div>
               <div class="currency-container">
                <div 
                class="currency-item"
                *ngFor="let item of currencyItems"
                >
                  <span 
                  class="title"
                  [style.color]="item === depositeType? '#FBED10': '#222222'"
                  >
                  {{item}}
                  </span>
                  <div 
                  class="border"
                  *ngIf="item === depositeType"
                  ></div>
                </div>
               </div> 
            </div>
            <div class="amount">
                <div class="range-container">
                   <span class="range-title">Сумма инвестиций</span> 
                   <app-range
                   [properties]="amountRange"
                   (onChanged)="setDepositeAmount($event)"
                   ></app-range>
                </div>

                <div class="amount-inform">
                    <span class="title">{{depositeAmount? depositeAmount: 0}}</span>
                    <span class="currency">{{depositeType? depositeType: ''}}</span>
                </div>
            </div>
            <div class="term">
                <div class="term-container">
                    <span class="term-title">Срок инвестиций ( Месяцев )</span> 
                    <app-range
                    [properties]="termRange"
                    (onChanged)="setDepositeTermAndCalculateProfit($event)"
                    ></app-range>
                    <div class="numbers">
                        <span 
                        class="number"
                        *ngFor="let number of numbers"
                        [style.color]="depositeTerm == number? '#222222': '#EEEEEE'"
                        >
                        {{number}}
                        </span>
                    </div>
                </div>
                <div class="procent-container">
                   <div class="title">Процентная ставка</div> 
                   <div class="description">
                    <span>0.75%</span>&nbsp;<small>в день</small> 
                   </div>
                </div>
            </div>
            <div class="datepickers">
               <div class="date-container">
                  <span class="date-title">Старт инвестиции</span>
                  <app-datepicker></app-datepicker>
               </div>
               <div class="date-container">
                <span class="date-title">Завершение инвестиции</span>
                <app-datepicker-end
                [term]="depositeTerm"
                ></app-datepicker-end>
             </div>
            </div>
        </div>
       </div>
    </div>
    <div class="grafic-container">
        <div class="side-inner">
           <div class="header">
             <div class="left-grade">
                <div class="inform">
                    <span class="head">Инвестировали</span>
                    <span class="foot">
                    {{depositeAmount? depositeAmount: 0}} {{depositeType? depositeType: ''}}
                    </span>
                </div>
                <div class="grade"></div>
             </div>
             <div class="right-grade">
                <div class="inform">
                    <span class="head">Получаете</span>
                    <span class="foot">{{$profit && depositeTerm ? +depositeAmount + ($profit | async): 0}} {{$profit? depositeType: ''}}</span>
                </div>
                <div class="grade"></div>
             </div>
           </div> 
           <div class="under-header">
            <div class="text">
                <div class="left-text">
                    <span>Инвестиция</span>
                    <span>Процент прибыли</span>
                </div>
                <div class="right-text">
                    <span>
                        {{depositeAmount? depositeAmount: 0}} {{depositeType? depositeType: ''}}
                    </span>
                    <span>{{$profit && depositeTerm ? (calculateService.$procent | async): 0}} %</span>
                </div>
            </div>
            <div class="border"></div>
           </div>
           <div class="above-bottom">
            <div class="left-text">Прибыль с
                инвестиции</div>
            <span>{{$profit && depositeTerm? ($profit | async) : ''}} {{$profit? depositeType: ''}}</span>
           </div>
           <button class="bottom-btn">
            <span>ИНВЕСТИРОВАТЬ СЕЙЧАС</span>
           </button>
        </div>
    </div>
</div>